<%-include("partials/head.ejs")%>

<h2> Comments using UL and LI's </h2>
<ul>
    <% for (let comment of comments ) { %>
      <li><%=comment.username%><code> <%=comment.comment%></code></li> <b><%=comment.id%></b>
      <a href="/comments/<%=comment.id%>">Detail</a>
    <%}%>

</ul>


<%- include("partials/pagination.ejs")%>