<%- include("partials/head.ejs")%>
<body>

  
<h2>Soccer EJS</h2>
<%=name%>

<% for(let post of posts) { %>
<article>
  <h4><%=post.title%></h4>
</article>
    <% if (post.img) { %>
    <img src="<%=post.img%>" alt="" srcset="">
    <% } %>
<% } %>
</body>
<%-include("partials/pagination.ejs")%>
<%-include("partials/footer.ejs")%>
</html>